body {
    color: black;
    overflow-x: hidden;
    padding: 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    background-size: 150%;
    background-image: linear-gradient(90deg, #ef476fff, #ffd166ff, #06d6a0ff, #118ab2ff);
    animation: bg-animation 25s infinite;
}

h1 {
    margin-bottom: 1rem;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #fff;
    font-size: 4.5rem;
    line-height: 5rem;
    font-style: normal;
    text-align: left;
    font-weight: 900;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

button {
    background-color: #222;
    color: whitesmoke;
    margin: 2px;
    cursor: pointer;
    background-color: #444;
    border: none;
    outline: none;
    height: 30px;
    border-radius: 10px;
    text-transform: capitalize;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 0.5em;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    color: black;
    background-color: #118ab2ff;

}

.books-container {
    display: flex;
    flex-wrap: wrap;
}

/* .book-preview {
    background-color: white;
    color: darkviolet;
    width: 20%;
    margin: .5em;
    border: 1px solid lightgray;
    border-radius: .2em;
    text-align: center;
    padding: 5px;
}

.book-preview .btn-remove {
    float: right;
}

.book-preview img {
    max-width: 100%;
}

.book-preview h5 {
    font-size: 1.4em;
    text-transform: capitalize;
    text-decoration: overline;
}

.book-preview h6 span {
    color: tomato;
    font-size: 2em;
} */

.book-filter {
    background-color: #06d6a0ff;
    padding: 10px;
    margin: 20px;
}

.book-filter hr {
    margin: 20px;
}

.modal {
    background-color: #118ab2ff;
    padding: 10px;
    position: absolute;
    top: 0px;
    left: 150%;
    height: 80vh;
    min-width: 300px;
    text-align: center;
}

.modal.open {
    left: 50%;
    transition: left .5s;
    color: aliceblue;
}

.modal h3 {
    color: #06d6a0ff;
    text-decoration: overline;
    text-transform: capitalize;
}

.modal h4 span {
    color: #06d6a0ff;
}

.modal>p {
    text-align: left;
}

.user-msg {
    position: fixed;
    bottom: -100px;
    right: 10px;
    background-color: #111;
    padding: 10px;
    color: white;
}

.user-msg.open {
    bottom: 10px;
    transition: bottom .5s;
}

.table {
    background-color: whitesmoke;
    font-size: 1.3em;
}

th {
    background-color: #06d6a0ff;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

h5{
    margin-bottom: 5px;
}

@media screen and (max-width: 400px) {
    h1{
        font-size: 3rem;
    }
    a {
        position: relative;
    }

    .table {
        font-size: 0.8em;
    }
    button {
        background-color: #222;
        color: whitesmoke;
        margin: 1px;
        height: 30px;
        border-radius: 8px;
        font-weight: 600;
        margin-bottom: 0.2em;
    }
}



/* footer */

  footer{
    margin: 10%;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    background-color: #06d6a0ff;
    width: 85vh;
    padding: 10px;
    text-align: center;
    list-style-type: none;
  }
  footer a{
    text-decoration: none;
    color: #111;

  }

  a:hover{
    color: #118ab2ff;
  }